 /* See _materialDesignHacks.scss */
 .myApp-chat .face {
   border-radius: 30px;
   border: 1px solid #ddd;
   width: 48px;
   margin: 16px;
 }

 .myApp-chat .username {
   font-size: x-small;
   font-style: italic;
 }