<h2>Home</h2>
<md-content layout="column" layout-align="center center">
  <h3><b>{{home.motd.$value}}</b></h3>
  <md-content class="md-padding" layout="row" layout-sm="column" style="font-size:1.2em">
    <md-content class="md-padding">
      <form name="userForm">
        <md-input-container flex>
          <label>Set the message of the day</label>
          <input ng-model="home.motd.$value" md-maxlength="100" ng-change="home.motd.$save()"/>
        </md-input-container>
      </form>
    </md-content>
  </md-content>
  <p>Open <a ng-href="{{FBURL}}/motd" target="_blank">Forge</a> or a <a target="_blank" href="#/">new window</a> to see this input update in real time.</p>
</md-content>


<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu velit dapibus, eleifend neque ut, iaculis mauris. Fusce id convallis tortor. Proin sit amet
  malesuada tortor, quis venenatis dolor. Etiam ultrices sollicitudin massa, nec aliquet ex vehicula ac. Nunc tincidunt sem et libero scelerisque fermentum.
  Pellentesque ornare enim sit amet elementum volutpat. Suspendisse facilisis arcu ut tempus euismod. Mauris a molestie lacus. Proin fermentum sed leo at
  maximus. Aliquam ornare maximus orci sit amet dignissim. Morbi vestibulum arcu et purus fermentum, vel vestibulum lacus rhoncus.
</p>
<p>
  Integer mollis rhoncus nisi in dignissim. Nullam pulvinar mauris nec tellus auctor rhoncus. Nunc nec libero viverra dui consectetur ultricies ut vitae tortor.
  Quisque eu risus sit amet lectus faucibus ullamcorper. Duis ornare enim condimentum enim dapibus, ut ultrices diam porttitor. Nam placerat enim neque, eu
  fringilla nulla mollis in. Maecenas varius justo tortor, nec pellentesque metus maximus sit amet.
</p>
<p>
  Proin maximus tincidunt nibh eu rhoncus. Proin sem ligula, fringilla vitae ipsum sed, imperdiet dictum augue. Donec egestas nibh velit, ut finibus quam
  egestas at. Donec ullamcorper ut risus id consequat. Sed placerat in nunc id condimentum. In consequat risus vitae tempus consequat. Nulla vestibulum bibendum
  libero congue laoreet. Vivamus lacinia felis nec sodales pretium. Pellentesque quis mi placerat, dictum nisl vel, tristique risus. Suspendisse id magna
  tincidunt, faucibus tellus sit amet, condimentum odio. Praesent quis elit finibus, consectetur est laoreet, consequat dui. Phasellus aliquam lacus nisl, quis
  tristique ipsum viverra at. Nam libero tortor, vehicula eu tincidunt id, blandit et purus. Nulla metus velit, vulputate ac nibh in, hendrerit aliquet tellus.
  Donec fermentum nulla sed nulla placerat condimentum. Pellentesque pellentesque tortor sed nibh aliquam, aliquam eleifend libero fringilla.
</p>


<p>
  Nulla imperdiet ultricies magna, at bibendum nisi malesuada ac. Morbi tempus dui vitae est commodo, et sagittis risus tincidunt. Class aptent taciti sociosqu
  ad litora torquent per conubia nostra, per inceptos himenaeos. In vitae tellus id sem imperdiet facilisis. Vestibulum feugiat interdum porta. Suspendisse
  neque erat, aliquam quis vulputate a, elementum id libero. Sed eget mi tellus. Fusce tempus sem neque, ac consequat ligula rutrum nec. Proin vehicula
  dignissim est sed consequat. Vestibulum sed facilisis orci.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu velit dapibus, eleifend neque ut, iaculis mauris. Fusce id convallis tortor. Proin sit amet
  malesuada tortor, quis venenatis dolor. Etiam ultrices sollicitudin massa, nec aliquet ex vehicula ac. Nunc tincidunt sem et libero scelerisque fermentum.
  Pellentesque ornare enim sit amet elementum volutpat. Suspendisse facilisis arcu ut tempus euismod. Mauris a molestie lacus. Proin fermentum sed leo at
  maximus. Aliquam ornare maximus orci sit amet dignissim. Morbi vestibulum arcu et purus fermentum, vel vestibulum lacus rhoncus.
</p>
<p>
  Integer mollis rhoncus nisi in dignissim. Nullam pulvinar mauris nec tellus auctor rhoncus. Nunc nec libero viverra dui consectetur ultricies ut vitae tortor.
  Quisque eu risus sit amet lectus faucibus ullamcorper. Duis ornare enim condimentum enim dapibus, ut ultrices diam porttitor. Nam placerat enim neque, eu
  fringilla nulla mollis in. Maecenas varius justo tortor, nec pellentesque metus maximus sit amet.
</p>
<p>
  Proin maximus tincidunt nibh eu rhoncus. Proin sem ligula, fringilla vitae ipsum sed, imperdiet dictum augue. Donec egestas nibh velit, ut finibus quam
  egestas at. Donec ullamcorper ut risus id consequat. Sed placerat in nunc id condimentum. In consequat risus vitae tempus consequat. Nulla vestibulum bibendum
  libero congue laoreet. Vivamus lacinia felis nec sodales pretium. Pellentesque quis mi placerat, dictum nisl vel, tristique risus. Suspendisse id magna
  tincidunt, faucibus tellus sit amet, condimentum odio. Praesent quis elit finibus, consectetur est laoreet, consequat dui. Phasellus aliquam lacus nisl, quis
  tristique ipsum viverra at. Nam libero tortor, vehicula eu tincidunt id, blandit et purus. Nulla metus velit, vulputate ac nibh in, hendrerit aliquet tellus.
  Donec fermentum nulla sed nulla placerat condimentum. Pellentesque pellentesque tortor sed nibh aliquam, aliquam eleifend libero fringilla.
</p>
<p>
  Nulla imperdiet ultricies magna, at bibendum nisi malesuada ac. Morbi tempus dui vitae est commodo, et sagittis risus tincidunt. Class aptent taciti sociosqu
  ad litora torquent per conubia nostra, per inceptos himenaeos. In vitae tellus id sem imperdiet facilisis. Vestibulum feugiat interdum porta. Suspendisse
  neque erat, aliquam quis vulputate a, elementum id libero. Sed eget mi tellus. Fusce tempus sem neque, ac consequat ligula rutrum nec. Proin vehicula
  dignissim est sed consequat. Vestibulum sed facilisis orci.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu velit dapibus, eleifend neque ut, iaculis mauris. Fusce id convallis tortor. Proin sit amet
  malesuada tortor, quis venenatis dolor. Etiam ultrices sollicitudin massa, nec aliquet ex vehicula ac. Nunc tincidunt sem et libero scelerisque fermentum.
  Pellentesque ornare enim sit amet elementum volutpat. Suspendisse facilisis arcu ut tempus euismod. Mauris a molestie lacus. Proin fermentum sed leo at
  maximus. Aliquam ornare maximus orci sit amet dignissim. Morbi vestibulum arcu et purus fermentum, vel vestibulum lacus rhoncus.
</p>
<p>
  Integer mollis rhoncus nisi in dignissim. Nullam pulvinar mauris nec tellus auctor rhoncus. Nunc nec libero viverra dui consectetur ultricies ut vitae tortor.
  Quisque eu risus sit amet lectus faucibus ullamcorper. Duis ornare enim condimentum enim dapibus, ut ultrices diam porttitor. Nam placerat enim neque, eu
  fringilla nulla mollis in. Maecenas varius justo tortor, nec pellentesque metus maximus sit amet.
</p>
<p>
  Proin maximus tincidunt nibh eu rhoncus. Proin sem ligula, fringilla vitae ipsum sed, imperdiet dictum augue. Donec egestas nibh velit, ut finibus quam
  egestas at. Donec ullamcorper ut risus id consequat. Sed placerat in nunc id condimentum. In consequat risus vitae tempus consequat. Nulla vestibulum bibendum
  libero congue laoreet. Vivamus lacinia felis nec sodales pretium. Pellentesque quis mi placerat, dictum nisl vel, tristique risus. Suspendisse id magna
  tincidunt, faucibus tellus sit amet, condimentum odio. Praesent quis elit finibus, consectetur est laoreet, consequat dui. Phasellus aliquam lacus nisl, quis
  tristique ipsum viverra at. Nam libero tortor, vehicula eu tincidunt id, blandit et purus. Nulla metus velit, vulputate ac nibh in, hendrerit aliquet tellus.
  Donec fermentum nulla sed nulla placerat condimentum. Pellentesque pellentesque tortor sed nibh aliquam, aliquam eleifend libero fringilla.
</p>
<p>
  Nulla imperdiet ultricies magna, at bibendum nisi malesuada ac. Morbi tempus dui vitae est commodo, et sagittis risus tincidunt. Class aptent taciti sociosqu
  ad litora torquent per conubia nostra, per inceptos himenaeos. In vitae tellus id sem imperdiet facilisis. Vestibulum feugiat interdum porta. Suspendisse
  neque erat, aliquam quis vulputate a, elementum id libero. Sed eget mi tellus. Fusce tempus sem neque, ac consequat ligula rutrum nec. Proin vehicula
  dignissim est sed consequat. Vestibulum sed facilisis orci.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu velit dapibus, eleifend neque ut, iaculis mauris. Fusce id convallis tortor. Proin sit amet
  malesuada tortor, quis venenatis dolor. Etiam ultrices sollicitudin massa, nec aliquet ex vehicula ac. Nunc tincidunt sem et libero scelerisque fermentum.
  Pellentesque ornare enim sit amet elementum volutpat. Suspendisse facilisis arcu ut tempus euismod. Mauris a molestie lacus. Proin fermentum sed leo at
  maximus. Aliquam ornare maximus orci sit amet dignissim. Morbi vestibulum arcu et purus fermentum, vel vestibulum lacus rhoncus.
</p>
<p>
  Integer mollis rhoncus nisi in dignissim. Nullam pulvinar mauris nec tellus auctor rhoncus. Nunc nec libero viverra dui consectetur ultricies ut vitae tortor.
  Quisque eu risus sit amet lectus faucibus ullamcorper. Duis ornare enim condimentum enim dapibus, ut ultrices diam porttitor. Nam placerat enim neque, eu
  fringilla nulla mollis in. Maecenas varius justo tortor, nec pellentesque metus maximus sit amet.
</p>
<p>
  Proin maximus tincidunt nibh eu rhoncus. Proin sem ligula, fringilla vitae ipsum sed, imperdiet dictum augue. Donec egestas nibh velit, ut finibus quam
  egestas at. Donec ullamcorper ut risus id consequat. Sed placerat in nunc id condimentum. In consequat risus vitae tempus consequat. Nulla vestibulum bibendum
  libero congue laoreet. Vivamus lacinia felis nec sodales pretium. Pellentesque quis mi placerat, dictum nisl vel, tristique risus. Suspendisse id magna
  tincidunt, faucibus tellus sit amet, condimentum odio. Praesent quis elit finibus, consectetur est laoreet, consequat dui. Phasellus aliquam lacus nisl, quis
  tristique ipsum viverra at. Nam libero tortor, vehicula eu tincidunt id, blandit et purus. Nulla metus velit, vulputate ac nibh in, hendrerit aliquet tellus.
  Donec fermentum nulla sed nulla placerat condimentum. Pellentesque pellentesque tortor sed nibh aliquam, aliquam eleifend libero fringilla.
</p>
<p>
  Nulla imperdiet ultricies magna, at bibendum nisi malesuada ac. Morbi tempus dui vitae est commodo, et sagittis risus tincidunt. Class aptent taciti sociosqu
  ad litora torquent per conubia nostra, per inceptos himenaeos. In vitae tellus id sem imperdiet facilisis. Vestibulum feugiat interdum porta. Suspendisse
  neque erat, aliquam quis vulputate a, elementum id libero. Sed eget mi tellus. Fusce tempus sem neque, ac consequat ligula rutrum nec. Proin vehicula
  dignissim est sed consequat. Vestibulum sed facilisis orci.
</p>

