.md-button.md-default-theme {
  border-radius: 3px;
}

.md-button.md-default-theme.md-primary {
  color: rgb(63, 81, 181);
}

.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-fab {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(63, 81, 181);
}

.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover,
.md-button.md-default-theme.md-primary.md-raised:not([disabled]):focus,
.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover,
.md-button.md-default-theme.md-primary.md-fab:not([disabled]):focus {
  background-color: rgb(57, 73, 171);
}
/* */
.md-button.md-default-theme.md-hue-1 {
  border-radius: 3px;
}

.md-button.md-default-theme.md-hue-1.md-primary {
  color: rgb(121, 134, 203);
}

.md-button.md-default-theme.md-hue-1.md-primary.md-raised,
.md-button.md-default-theme.md-hue-1.md-primary.md-fab {
  color: rgb(255, 255, 255);
  background-color: rgb(121, 134, 203);
}

.md-button.md-default-theme.md-hue-1.md-primary.md-raised:not([disabled]):hover,
.md-button.md-default-theme.md-hue-1.md-primary.md-raised:not([disabled]):focus,
.md-button.md-default-theme.md-hue-1.md-primary.md-fab:not([disabled]):hover,
.md-button.md-default-theme.md-hue-1.md-primary.md-fab:not([disabled]):focus {
  background-color: rgb(57, 73, 171);
}


/**/
.md-button.md-default-theme.md-hue-2 {
  border-radius: 3px;
}

.md-button.md-default-theme.md-hue-2.md-primary {
  color: rgb(40, 53, 147);
}

.md-button.md-default-theme.md-hue-2.md-primary.md-raised, .md-button.md-default-theme.md-hue-2.md-primary.md-fab {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(40, 53, 147);
}

.md-button.md-default-theme.md-hue-2.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-hue-2.md-primary.md-raised:not([disabled]):focus, .md-button.md-default-theme.md-hue-2.md-primary.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-hue-2.md-primary.md-fab:not([disabled]):focus {
  background-color: rgb(57, 73, 171);
}
/**/
.md-button.md-default-theme.md-hue-3 {
  border-radius: 3px;
}

.md-button.md-default-theme.md-hue-3.md-primary {
  color: rgb(140, 158, 255);
}

.md-button.md-default-theme.md-hue-3.md-primary.md-raised, .md-button.md-default-theme.md-hue-3.md-primary.md-fab {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(140, 158, 255);
}

.md-button.md-default-theme.md-hue-3.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-hue-3.md-primary.md-raised:not([disabled]):focus, .md-button.md-default-theme.md-hue-3.md-primary.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-hue-3.md-primary.md-fab:not([disabled]):focus {
  background-color: rgb(57, 73, 171);
}

/**/
.md-button.md-default-theme.md-fab {
  border-radius: 50%;
  background-color: rgb(105, 240, 174);
  color: rgba(0, 0, 0, 0.87);
}

.md-button.md-default-theme.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-fab:not([disabled]):focus {
  background-color: rgb(0, 200, 83);
}

.md-button.md-default-theme.md-accent {
  color: rgb(105, 240, 174);
}

.md-button.md-default-theme.md-accent.md-raised, .md-button.md-default-theme.md-accent.md-fab {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(105, 240, 174);
}

.md-button.md-default-theme.md-accent.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-accent.md-raised:not([disabled]):focus, .md-button.md-default-theme.md-accent.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-accent.md-fab:not([disabled]):focus {
  background-color: rgb(56, 142, 60);
}


.md-button.md-default-theme.md-hue-1.md-fab {
  border-radius: 50%;
  background-color: rgb(185, 246, 202);
  color: rgba(0, 0, 0, 0.87);
}

.md-button.md-default-theme.md-hue-1.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-hue-1.md-fab:not([disabled]):focus {
  background-color: rgb(0, 200, 83);
}

.md-button.md-default-theme.md-hue-1.md-accent {
  color: rgb(185, 246, 202);
}

.md-button.md-default-theme.md-hue-1.md-accent.md-raised, .md-button.md-default-theme.md-hue-1.md-accent.md-fab {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(185, 246, 202);
}

.md-button.md-default-theme.md-hue-1.md-accent.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-hue-1.md-accent.md-raised:not([disabled]):focus, .md-button.md-default-theme.md-hue-1.md-accent.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-hue-1.md-accent.md-fab:not([disabled]):focus {
  background-color: rgb(56, 142, 60);
}


.md-button.md-default-theme.md-hue-2.md-fab {
  border-radius: 50%;
  background-color: rgb(0, 230, 118);
  color: rgba(0, 0, 0, 0.87);
}

.md-button.md-default-theme.md-hue-2.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-hue-2.md-fab:not([disabled]):focus {
  background-color: rgb(0, 200, 83);
}

.md-button.md-default-theme.md-hue-2.md-accent {
  color: rgb(0, 230, 118);
}

.md-button.md-default-theme.md-hue-2.md-accent.md-raised, .md-button.md-default-theme.md-hue-2.md-accent.md-fab {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(0, 230, 118);
}

.md-button.md-default-theme.md-hue-2.md-accent.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-hue-2.md-accent.md-raised:not([disabled]):focus, .md-button.md-default-theme.md-hue-2.md-accent.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-hue-2.md-accent.md-fab:not([disabled]):focus {
  background-color: rgb(56, 142, 60);
}


.md-button.md-default-theme.md-hue-3.md-fab {
  border-radius: 50%;
  background-color: rgb(0, 200, 83);
  color: rgba(0, 0, 0, 0.87);
}

.md-button.md-default-theme.md-hue-3.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-hue-3.md-fab:not([disabled]):focus {
  background-color: rgb(0, 200, 83);
}

.md-button.md-default-theme.md-hue-3.md-accent {
  color: rgb(0, 200, 83);
}

.md-button.md-default-theme.md-hue-3.md-accent.md-raised, .md-button.md-default-theme.md-hue-3.md-accent.md-fab {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(0, 200, 83);
}

.md-button.md-default-theme.md-hue-3.md-accent.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-hue-3.md-accent.md-raised:not([disabled]):focus, .md-button.md-default-theme.md-hue-3.md-accent.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-hue-3.md-accent.md-fab:not([disabled]):focus {
  background-color: rgb(56, 142, 60);
}

.md-button.md-default-theme.md-warn {
  color: rgb(244, 67, 54);
}

.md-button.md-default-theme.md-warn.md-raised, .md-button.md-default-theme.md-warn.md-fab {
  color: rgb(255, 255, 255);
  background-color: rgb(244, 67, 54);
}

.md-button.md-default-theme.md-warn.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-warn.md-raised:not([disabled]):focus, .md-button.md-default-theme.md-warn.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-warn.md-fab:not([disabled]):focus {
  background-color: rgb(211, 47, 47);
}

.md-button.md-default-theme.md-hue-1.md-warn {
  color: rgb(229, 115, 115);
}

.md-button.md-default-theme.md-hue-1.md-warn.md-raised, .md-button.md-default-theme.md-hue-1.md-warn.md-fab {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(229, 115, 115);
}

.md-button.md-default-theme.md-hue-1.md-warn.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-hue-1.md-warn.md-raised:not([disabled]):focus, .md-button.md-default-theme.md-hue-1.md-warn.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-hue-1.md-warn.md-fab:not([disabled]):focus {
  background-color: rgb(211, 47, 47);
}


.md-button.md-default-theme.md-hue-2.md-warn {
  color: rgb(198, 40, 40);
}

.md-button.md-default-theme.md-hue-2.md-warn.md-raised, .md-button.md-default-theme.md-hue-2.md-warn.md-fab {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(198, 40, 40);
}

.md-button.md-default-theme.md-hue-2.md-warn.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-hue-2.md-warn.md-raised:not([disabled]):focus, .md-button.md-default-theme.md-hue-2.md-warn.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-hue-2.md-warn.md-fab:not([disabled]):focus {
  background-color: rgb(211, 47, 47);
}

.md-button.md-default-theme.md-hue-3.md-warn {
  color: rgb(255, 138, 128);
}

.md-button.md-default-theme.md-hue-3.md-warn.md-raised, .md-button.md-default-theme.md-hue-3.md-warn.md-fab {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 138, 128);
}

.md-button.md-default-theme.md-hue-3.md-warn.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-hue-3.md-warn.md-raised:not([disabled]):focus, .md-button.md-default-theme.md-hue-3.md-warn.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-hue-3.md-warn.md-fab:not([disabled]):focus {
  background-color: rgb(211, 47, 47);
}

/**/
md-toolbar .md-button.md-default-theme.md-fab {
  background-color: white;
}

.md-button.md-default-theme:not([disabled]):hover, .md-button.md-default-theme:not([disabled]):focus {
  background-color: rgba(158, 158, 158, 0.2);
}

.md-button.md-default-theme.md-raised {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(250, 250, 250);
}

.md-button.md-default-theme.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-raised:not([disabled]):focus {
  background-color: rgb(238, 238, 238);
}

.md-button.md-default-theme[disabled], .md-button.md-default-theme.md-raised[disabled], .md-button.md-default-theme.md-fab[disabled] {
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent;
  cursor: not-allowed;
}

/**/
.md-button.md-default-theme.md-hue-1:not([disabled]):hover, .md-button.md-default-theme.md-hue-1:not([disabled]):focus {
  background-color: rgba(158, 158, 158, 0.2);
}

.md-button.md-default-theme.md-hue-1.md-raised {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(250, 250, 250);
}

.md-button.md-default-theme.md-hue-1.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-hue-1.md-raised:not([disabled]):focus {
  background-color: rgb(238, 238, 238);
}

.md-button.md-default-theme.md-hue-1[disabled], .md-button.md-default-theme.md-hue-1.md-raised[disabled], .md-button.md-default-theme.md-hue-1.md-fab[disabled] {
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent;
  cursor: not-allowed;
}

/**/

.md-button.md-default-theme.md-hue-2:not([disabled]):hover, .md-button.md-default-theme.md-hue-2:not([disabled]):focus {
  background-color: rgba(158, 158, 158, 0.2);
}

.md-button.md-default-theme.md-hue-2.md-raised {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(250, 250, 250);
}

.md-button.md-default-theme.md-hue-2.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-hue-2.md-raised:not([disabled]):focus {
  background-color: rgb(238, 238, 238);
}

.md-button.md-default-theme.md-hue-2[disabled], .md-button.md-default-theme.md-hue-2.md-raised[disabled], .md-button.md-default-theme.md-hue-2.md-fab[disabled] {
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent;
  cursor: not-allowed;
}
/**/
.md-button.md-default-theme.md-hue-3:not([disabled]):hover, .md-button.md-default-theme.md-hue-3:not([disabled]):focus {
  background-color: rgba(158, 158, 158, 0.2);
}

.md-button.md-default-theme.md-hue-3.md-raised {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(250, 250, 250);
}

.md-button.md-default-theme.md-hue-3.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-hue-3.md-raised:not([disabled]):focus {
  background-color: rgb(238, 238, 238);
}

.md-button.md-default-theme.md-hue-3[disabled], .md-button.md-default-theme.md-hue-3.md-raised[disabled], .md-button.md-default-theme.md-hue-3.md-fab[disabled] {
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent;
  cursor: not-allowed;
}
