@import "../tk-material-design-palette";


$button-border-radius: 3px !default;
$button-fab-border-radius: 50% !default;

$theme-name: default !default;

$palette-primary: $md-palette-definition-indigo;
$palette-accent: $md-palette-definition-pink;
$palette-background: $md-palette-definition-grey;
$palette-warn: $md-palette-definition-red;

md-toolbar .md-button.md-fab {
  background-color: white;
}

.md-button {
  border-radius: $button-border-radius;
}

/************************************************************************
*
*  Two blocks of SCSS for the Element being styled:
*     Block one handles the 'core theme' - 'common' (not-theme related) element styles and 'default' color styles (hue == 'default').
*     Block two handles the 'hues' (hue-1, hue-2, hue-3).
*
*  This is block one.
*************************************************************************/
.md-button:not([disabled]) {
  &:hover, &:focus {
    @include md-theme-mixin {
      background-color: $background-500-0-2;
    }
  }
}

.md-button.md-primary {
  @include md-theme-hues-mixin {
    color: $primary-color;
  }
  &.md-raised, &.md-fab {
    @include md-theme-hues-mixin {
      color: $primary-contrast;
      background-color: $primary-color;
    }
    &:not([disabled]) {
      &:hover, &:focus {
        @include md-theme-mixin {
          background-color: $primary-600;
        }
      }
    }
  }
}

.md-button.md-fab {
  border-radius: $button-fab-border-radius;
  @include md-theme-hues-mixin {

    background-color: $accent-color;
    color: $accent-contrast;
  }
  &:not([disabled]) {
    &:hover, &:focus {
      @include md-theme-mixin {
        background-color: $accent-A700;
      }
    }
  }
}

.md-button.md-raised {
  @include md-theme-hues-mixin {
    color: $background-contrast;}
  @include md-theme-mixin {
    background-color: $background-50;
  }
  &:not([disabled]) {
    &:hover, &:focus {
      @include md-theme-mixin {
        background-color: $background-200;
      }
    }
  }
}

.md-button.md-warn {
  @include md-theme-hues-mixin {
    color: $warn-color;
  }
  &.md-raised, &.md-fab {
    @include md-theme-hues-mixin {

      color: $warn-contrast;
      background-color: $warn-color;
    }
    &:not([disabled]) {
      &:hover, &:focus {
        @include md-theme-mixin {
          background-color: $warn-700;
        }
      }
    }
  }
}

.md-button.md-accent {
  @include md-theme-hues-mixin {
    color: $accent-color;
  }
  &.md-raised, &.md-fab {
    @include md-theme-hues-mixin {
      color: $accent-contrast;
      background-color: $accent-color;
    }
    &:not([disabled]) {
      &:hover, &:focus {
        @include md-theme-mixin {
          background-color: $accent-700;
        }
      }
    }
  }
}

.md-button {
  &[disabled], &.md-raised[disabled], &.md-fab[disabled] {
    @include md-theme-mixin {
      color: $foreground-3;
    }
    background-color: transparent;
    cursor: not-allowed;
  }
}