@import "../../_app/variables";
@import "../../_twistedKindling/materialDesignHacks";

html {
  overflow-x: hidden;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: $viewport-width-sm-vw *1vw;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}

.main-view {
  width: $viewport-width-sm-vw *1vw;
  max-width: $viewport-width-sm-vw *1vw;
  margin: 0 auto 0 auto;
  height: 100%;
  bottom: 0;
}

.sub-header {
  max-width: $viewport-width-sm-vw *1vw;
  font-size: $fontsize-subtitle;
  margin-top: $header-height;
  padding-top: $subheading-height;
  padding-left: $text-default-padding/$font-scale-subtitle;
  max-height: 1.5em;
}

.body-container {
  $mTop: $header-height + $subheading-height;
  font-size: $fontsize-normal;
  margin: $mTop auto 0 auto;
  padding-left: $text-default-padding;
  overflow-x: hidden;
}

.body-panel {
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: ($footer-height);
}

.main-view > tk-footer {
  padding-left: $tk-left-vertical-bar-width;
}

@media (min-width: $width-lg-definition-px * 1px) {
  .main-view {
    max-width: $viewport-width-lg-vw *1vw;
  }

  .body-container {
    max-width: $viewport-width-lg-vw *1vw;
  }

  .main-view > tk-footer {
    width: $viewport-width-lg-vw *1vw;
  }

}

/* Footer content */
.tk-component-body.ng-hide {
  opacity: 0;
}

tk-footer.md-has-header {
  padding-top: 0;
}

tk-footer .md-subheader {
  background-color: transparent;
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  line-height: 56px;
  padding: 0;
  white-space: nowrap;
}

tk-footer md-inline-icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  fill: #444;
}

tk-footer md-item {
  display: flex;
  outline: none;
}

tk-footer md-item:hover {
  cursor: pointer;
}

tk-footer .md-list md-item {
  align-items: center;
  height: 48px;
}

tk-footer .md-list md-item div.md-icon-container {
  display: inline-block;
  height: 24px;
  margin-right: 32px;
}

tk-footer .md-grid {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0;
}

tk-footer .md-grid md-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all $animDuration;
  align-items: center;
}

tk-footer .md-grid md-item {
  flex-direction: column;
  align-items: center;
  transition: all $animDuration;
  height: 96px;
  margin-top: 8px;
  margin-bottom: 8px;
}

@media screen and (max-width: 600px) {
  tk-footer .md-grid md-item {
    flex: 1 1 33.33333%;
    max-width: 33.33333%;
  }
  tk-footer .md-grid md-item:nth-of-type(3n+1) {
    align-items: flex-start;
  }
  tk-footer .md-grid md-item:nth-of-type(3n) {
    align-items: flex-end;
  }
}

@media screen and (min-width: 600px) and (max-width: 960px) {
  tk-footer .md-grid md-item {
    flex: 1 1 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1200px) {
  tk-footer .md-grid md-item {
    flex: 1 1 16.66667%;
    max-width: 16.66667%;
  }
}

@media screen and (min-width: 1200px) {
  tk-footer .md-grid md-item {
    flex: 1 1 14.28571%;
    max-width: 14.28571%;
  }
}

tk-footer .md-grid md-item .md-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48px;
  padding-bottom: 16px;
}

tk-footer .md-grid md-item .md-grid-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

tk-footer .md-grid md-item .md-icon-container {
  display: inline-block;
  box-sizing: border-box;
  height: 48px;
  width: 48px;
  margin: 0 0;
}

tk-footer .md-grid md-item p.md-grid-text {
  font-weight: 300;
  line-height: 16px;
  font-size: 13px;
  margin: 0;
  white-space: nowrap;
  width: 64px;
  text-align: center;
  padding-top: 8px;
}
