<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1">-->

  <title>My AngularJS App</title>

  <link rel="shortcut icon" href="/favicon.ico">

  <!-- build:css static/bower.css -->
  <link rel="stylesheet" href="/bower_components/normalize/normalize.css"/>
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css"/>

  <!-- More hacks. -->
  <link rel="stylesheet" href="/bower_components/angular-material-source/src/components/bottomSheet/demoBasicUsage/style.css"/>
  <!-- endbuild -->

  <!-- build:css(staging) static/app.css -->
  <link rel="stylesheet" href="/components/footer/demo/footer-demo.css"/>
  <link rel="stylesheet" href="/components/footer/footer.css"/>
  <link rel="stylesheet" href="/components/leftVerticalBar/leftVerticalBar.css"/>
  <!-- endbuild -->

</head>
<body class="ng-scope" ng-cloak>
  <div class="main-view">
    <tk-left-vertical-bar auto-height="true" segment-class-names="['leftbar-segment-light-gray','leftbar-segment-gray']"></tk-left-vertical-bar>
    <tk-header container-cls="bg-light-gray" heading-text="Footer Demo"></tk-header>
    <div class="body-container">
      <div class="body-pane" role="main" ng-view></div>
    </div>
    <tk-footer opened="true" toggle-on-scroll="true" show-toggle-button="true">
      <div class="md-grid">
        <md-list>
          <md-item>
            <md-button class="md-grid-item-content" aria-label="Mail">
              <div class="md-icon-container">
                <md-inline-grid-icon icon="mail"></md-inline-grid-icon>
              </div>
              <p class="md-grid-text">Mail</p>
            </md-button>
          </md-item>
          <md-item>
            <md-button class="md-grid-item-content" aria-label="Hangout">
              <div class="md-icon-container">
                <md-inline-grid-icon icon="hangout"></md-inline-grid-icon>
              </div>
              <p class="md-grid-text">Hangout</p>
            </md-button>
          </md-item>
        </md-list>
      </div>
    </tk-footer>

  </div>


  <!-- build:js static/bower.js -->
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-aria/angular-aria.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-material/angular-material.js"></script>
  <script src="/bower_components/lodash/lodash.min.js"></script>
  <!-- endbuild -->

  <!-- build:js static/app.js -->
  <script src="/components/footer/demo/footer-demo.js"></script>
  <script src="/components/_twistedKindling/twistedKindling.js"></script>


  <script src="/components/leftVerticalBar/leftVerticalBar.js" type="text/javascript"></script>
  <script src="/components/footer/footer.js" type="text/javascript"></script>


  <!-- endbuild -->

</body>
</html>
